# slurm outputs
slurm*out

# folders
*/

# output files
freqs
*.pdf
*.jpeg
*.xlsx
*.pptx
*.html
*.saf.*
*.args
*.mafs.gz
*.ml
fst_*
*.glf.gz
freqs_*
coverage_*.txt_*
*.gz
*.csv.gz
*.txt.gz
*.jar
*.txt
*.ods
*.arg
*.idx
*.pestPG
*.pos.gz
*.hwe.gz
*.sfs
*.thetas.*
*.log
*.qopt
